accelerate==1.2.0
#auto-gptq==0.7.1
bitsandbytes==0.42.0
fastapi==0.110.1
httpx==0.28.1
h2==4.1.0
langchain==0.3.10
langchain-aws==0.2.9
langchain-chroma==0.1.4
langchain_community==0.3.10
langchain-core==0.3.24
langchain_huggingface==0.1.2
langdetect==1.0.9
langgraph==0.2.56
lingua-language-detector==2.0.2
optimum==1.23.3
pandas==2.2.3
pydantic==2.9.2
PyYAML==6.0.2
sentence_transformers==3.3.1
sentencepiece==0.2.0
tiktoken==0.8.0
torch==2.5.1
torchvision==0.20.1
transformers==4.47.0
unstructured==0.16.10
uvicorn==0.29.0